<%- include('../include/head.ejs') %> <%- include('../include/header.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-3">
      <form action="/reset-password" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email" />
        </div>

        <!-- csrf token -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn btn-primary" type="submit">Reset</button>
      </form>
    </div>
  </div>
</div>
