<%- include('./include/head.ejs') %>
<div class="container-fluid">
  <%- include('./include/header.ejs') %>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Authors Page</h1>
      <ul>
        <% for (let author of authors) { %>
        <div class="card mt-3 mb-3">
          <div class="card-header">
            <h3><%= author.name %></h3>
          </div>
        </div>

        <% }%>
      </ul>
    </div>
  </div>
</div>
<%- include('./include/end.ejs') %>
