<%- include('./include/head.ejs') %>
<div class="container-fluid">
  <%- include('./include/header.ejs') %>

  <div class="row">
    <div class="col-12 text-center">
      <h1>Books Page</h1>
    </div>
  </div>
</div>
<%- include('./include/end.ejs') %>
