<%- include('./include/head.ejs') %>

<body>
  <div class="container-fluid">
    <%- include('./include/header.ejs') %>
    <div class="row">
      <div class="col-12 text-center">
        <h1>Home Page</h1>
      </div>
    </div>
  </div>
  <%- include('./include/end.ejs') %>
</body>
