<%- include('./include/head.ejs') %> <%- include('./include/header.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <form action="/login" method="POST">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" name="email" />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
